################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetExtractionXML/.vs/XML_v2/v15/Server/sqlite3
